/*
!/.config/
!/.local/
!/.gitignore
!/.gitmodules

# Don't ignore files from dotfiles github repository which are not from $HOME
!/README.md
!/LICENSE
!/bashrc
!/tmux.conf.template
!/tools.list
!/cheatsheets/
!/far-manager/
!/shell.rc/
!/src/
!/tools/
!/wsl/

# Ignore files/dirs in .config
/.config/vesktop/
/.config/teams-for-linux/
/.config/chromium/
/.config/spotify/
/.config/go/
/.config/freerdp/server/*.pem
/.config/helm/registry/config.json


/.local/state/
/.local/share/
